
#mapContainer {
  height: 500px;
  width: 500px;
  background: lightgray;
  margin: 0 auto;
}

h1 {
  font-family: 'Calibri', sans-serif;
}

h3 {
  font-family: 'Calibri', sans-serif;
}

#text {
  font-family: 'Calibri', sans-serif;
  width: 650px;
  text-align: center;
}

.legend-color-box {
  height: 15px;
  width: 15px;
  float: left;
  margin-right: 10px;
}
